<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FighyGym2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <!-- jit run-->
  <system.windows.forms jitDebugging="true" />
  <connectionStrings>  
      <add name="Database1ConnectionString" connectionString="Data Source=.;Initial Catalog=fightGym;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="FighyGym2.Properties.Settings.fightGymConnectionString"
          connectionString="Data Source=.;Initial Catalog=fightGym;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="localhost_Connection" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=fightGym" />
      <add name="localhost_fightGym_Connection" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=fightGym" />
      <add name="localhost_fightGym_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=fightGym" />
      <add name="localhost_fightGym_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=fightGym" />
      <add name="localhost_fightGym_Connection 3" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=fightGym" />
      <add name="localhost_fightGym_Connection 4" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=fightGym" />
      <add name="FighyGym2.Properties.Settings.fightGymConnectionString1"
          connectionString="Data Source=DESKTOP-VU3SMS2;Initial Catalog=fightGym;Integrated Security=True"
          providerName="System.Data.SqlClient" />
      <add name="localhost_fightGym_Connection 5" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=fightGym" />
      <add name="localhost_fightGym_Connection 6" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=fightGym" />
      <add name="localhost_fightGym_Connection 7" connectionString="XpoProvider=MSSqlServer;data source=localhost;integrated security=SSPI;initial catalog=fightGym" />
  </connectionStrings>
  <userSettings>
    <FighyGym2.Properties.Settings>
        <setting name="date1" serializeAs="String">
            <value />
        </setting>
        <setting name="date2" serializeAs="String">
            <value />
        </setting>
        <setting name="USER_NAME" serializeAs="String">
            <value>123</value>
        </setting>
        <setting name="ClassId" serializeAs="String">
            <value>0</value>
        </setting>
        <setting name="StuName" serializeAs="String">
            <value />
        </setting>
        <setting name="ClassName" serializeAs="String">
            <value />
        </setting>
        <setting name="DateBegin" serializeAs="String">
            <value />
        </setting>
        <setting name="phone" serializeAs="String">
            <value />
        </setting>
        <setting name="pic" serializeAs="String">
            <value>0</value>
        </setting>
        <setting name="Id" serializeAs="String">
            <value>0</value>
        </setting>
        <setting name="DateEnd" serializeAs="String">
            <value />
        </setting>
        <setting name="typeclass" serializeAs="String">
            <value />
        </setting>
        <setting name="mount" serializeAs="String">
            <value>0</value> 
        </setting>
        <setting name="typetrainer" serializeAs="String">
            <value />
        </setting>
        <setting name="phoneW" serializeAs="String">
            <value>0</value>
        </setting>
        <setting name="DirthDate" serializeAs="String">
            <value />
        </setting>
        <setting name="adress" serializeAs="String">
            <value />
        </setting>
        <setting name="amount" serializeAs="String">
            <value>0</value>
        </setting>
        <setting name="Nationality" serializeAs="String">
            <value />
        </setting>
        <setting name="stats" serializeAs="String">
            <value>1</value>
        </setting>
        <setting name="birthdate" serializeAs="String">
            <value />
        </setting>
    </FighyGym2.Properties.Settings>
  </userSettings>
</configuration>